Package: CHANGE_NAME
Version: CHANGE_VERSION
Priority: optional
Architecture: CHANGE_ARCH
Installed-Size: CHANGE_SIZE
Section: misc
Maintainer: Fersho Uno <fersh0un0@gmail.com>
Description: paquete de iconos de plurios.
